<p>
    Here I'm plotting the curve of a quadratic equation of the form
</p>

<p><i>y = ax<sup>2</sup> + bx + c</i></p>

<p>This forms a parabola.</p>

<p>Enter the coefficients below.</p>

<div class="input-container">
    <label>
        <input id="a" type="number" />
        <strong>a</strong>
    </label>
</div>

<div class="input-container">
    <label>
        <input id="b" type="number" />
        <strong>b</strong>
    </label>
</div>

<div class="input-container">
    <label>
        <input id="c" type="number" />
        <strong>c</strong>
    </label>
</div>

<br/>
<br/>

<button id="updateButton">Update</button>