{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/mathvisualized.css' %}" />
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto"> 

{% include "components/sidebar.html" with lists=sidebar_lists %}

<div class="content">
    <h1>Math Visualized</h1>
    <p>This is a web app I wrote as an attempt to teach myself math. 
        Work in progress.</p>
</div>

<div class="canvas-container">
    <img class="index-image" src="{% static 'img/graph.png' %}" />
</div>