<div class="sidebar">
    <div class="button-container">
        <button id="menu-button">Menu</button>
    </div>
    <div id="sidebarContent" class="transition hidden">
        {% for category in lists.category_list %}
            <h3>{{ category.name }}</h3>
            {% for subcategory in lists.subcategory_list %}
                <h5>{{ subcategory.name }}</h5>
                {% for page in lists.page_list %}
                    {% if page.subcategory == subcategory %}
                        <div class="sidebar-list-item">- <a href="/mathvisualized/pages/{{ page.url_title }}">{{ page.title }}</a></div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </div>
</div>

<script>
    document.getElementById('menu-button').addEventListener('click', function() {
        document.getElementById('sidebarContent').classList.toggle('hidden');
    });
</script>