$sidebar-color: rgba(125, 125, 125, 0.5);

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../img/hip-square.png');
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 20px;
}

.katex {
    font-size: 100%;
}

a:link, a:visited {
    color: #1b3c72;
    text-decoration: none;
}

.sidebar {
    background-color: $sidebar-color;
    box-sizing: border-box;
    padding: 1em;

    .button-container {

        button {
            background-color: #555;
            border: none;
            color: #ccc;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;

            @media screen and (max-width: 1000px) {
                font-size: 100%;
            }
        }
    }

    .pad {
        height: 50px;
    }

    @media screen and (min-width: 1550px) {
        float: left;
        height: 100vh;
        overflow-y: scroll;
        width: 20vw;

        .button-container {
            display: none;
        }
    }

    @media screen and (max-width: 1550px) {
        .button-container {
            display: block;
        }

        .transition {
            transition: all 0.5s ease;
        }

        .sidebar-content {
            height: 33vh;
            overflow-y: scroll;
        }

        .hidden {
            height: 0;
        }
    }

    h3 {
        font-size: 150%;
        font-weight: 300;
        padding: 5px;
    }

    h5 {
        font-size: 125%;
        font-weight: 300;
        margin-left: 10px;
        padding: 5px;
    }

    .sidebar-list-item {
        margin-left: 30px;
    }
}

.container {
    padding: 2.5em;
    @media screen and (min-width: 1550px) {    
        box-sizing: border-box;
        float: left;
        width: 38vw;
    }
}

.scroll-container {
    @media screen and (min-width: 1550px) {
        float: right;
        height: 100vh;
        overflow-y: scroll;   
    }
}

.content {

    h1 {
        font-size: 250%;
        font-weight: 100;
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 30px;
    }

    input {
        border-radius: 5px;
        padding: 10px;

        @media screen and (max-width: 1000px) {
            font-size: 100%;

            &[type="checkbox"] {
                min-width: 1em;
                min-height: 1em;
            }
        }
    }

    fieldset {
        padding: 15px;

        @media screen and (max-width: 1000px) {
            font-size: 100%;

            input[type="radio"] {
                min-width: 0.5em;
                min-height: 0.5em;
            }
        }
    }

    button {
        @media screen and (max-width: 1000px) {
            font-size: 100%;
        }
    }

    .input-container {
        margin-bottom: 10px;

        label {
            white-space: nowrap;
        }
    }

    @media screen and (max-width: 1000px) {
        .katex {
            font-size: 100%;
        }
    }
}

.canvas-container {

    #canvas {
        background-color: #ccc;
        display: inline-block;
        min-width: 480px;

        canvas {
            min-width: 480px;
        }
    }

    @media screen and (max-width: 1000px) {    
        pre#output {
            font-size: 100%;
            max-width: 100vw;
            overflow-x: scroll;
        }
    }
}

.index-image {
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
}
